:root {
  --mainTheme: rgb(26, 26, 26);
}

body {
    font-family:    "Microsoft YaHei"  "WenQuanYi Micro Hei"  STXihei  sans-serif  monospace;}

header {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 3;
  background: var(--mainTheme);
  height: 70px;

  color: #8d9095;
  width: 100%;
  box-shadow: 0 0 10px #000;
}
ul{
    color: #8d9095;
    border-radius: 6px;
    border:1px solid #121212;
    width: 40%;
    height: 50%;
    line-height: 50%;

  

}
li {
  display: inline;
  text-decoration: none;
   font-size: 14px;

}
.contnet-layout{
  margin-top: 70px
}
