.wapper{
  position:relative;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}
.btn{
  position: absolute;
  width: 120px;
  top: 75%;
  left: 50%;
  background-color: rgba(0, 0, 0, 0);
  color: #fff;
  border-radius: 5px;
  padding: 10px;
  transform: translateX(-60px);
  outline: none;
  border: solid 1px #fff;
}


.btn:hover{
  border-color: var(--blue);
  color: var(--blue);
  outline: none;
}